<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Login</title>
</head>
<body>
<main>
    <form action="/api/auth/login" method="post">
        <label for="keyHeader">Заголовок для подключения: </label>
        <input id="keyHeader" name="keyHeader" type="text" th:value="${_csrf.parameterName}" readonly>
        <br>
        <label for="connectingKey">Ключ для подключения: </label>
        <input id="connectingKey" name="connectingKey" type="text" th:value="${_csrf.token}" readonly>
        <br>
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>

        <label for="username">Username: </label>
        <input id="username" name="username" type="text">
        <br>
        <label for="password">Password: </label>
        <input id="password" name="password" type="password">
        <br>
        <label for="remember-me">Remember me: </label>
        <input id="remember-me" name="remember-me" type="checkbox">
        <br>
        <button type="submit">Login</button>


    </form>
</main>
</body>
</html>