.my-grid-style{
    display: grid; /*Тип верстки сеточный*/
    /*Соотношение различных классов на отображении*/
    /*
    По существу будет оботражаться таблица:
    ----------------------------
    | header | header | header |
    ----------------------------
    | nav    | content| content|
    ----------------------------
    но одинаковые классы стоящие раядом объединяются в одну ячейку
    ----------------------------
    |          header          |
    ----------------------------
    | nav    |     content     |
    ----------------------------
    */
    grid-template-areas:
  "header header header"
  "nav content content";
    grid-template-rows: 60px 1fr;/*Высота строки 60px 1 строка занимает одну фракцию*/
    /*1 колонка занимает 2 фракции; вторая колонка занимает 2 фракций;*/
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;/*Расстояние между элементами 10px*/
}

