.headerStyle {
    grid-area: header;
    background-color: green;
    text-align: left;
}

.headerStyle img {
    width: 40px;
}

.headerText {
    color: white;
    text-align: left;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}